body {
  font-family: Futura, Helvetica, Arial, sans-serif;
  color: #444;
}

h1 {
  font-weight: normal;
}

#container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#canvas {
  border-collapse: collapse;
}

td {
  width: 30px;
  height: 20px;
  background: #444;
  border: 1px solid #444;
}

td.wall {
  background-color: #8cc8dd;
}

td.block {
  background-color: crimson;
}

td.paddle {
  background-color: white;
}

td.ball {
  background-color: olivedrab;
}

.button {
  padding: 0.85em 1em;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 0.9em;
  text-align: center;
  background-color: #2ba6cb;
  color: #fefefe;
}
